@import "tailwindcss";

@theme {
  --color-deep-teal: #0d4f4f;
  --color-light-cream: #f6f1ed;
}

.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--color-deep-teal);
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.hover-underline:hover::after {
  width: 100%;
}

::selection {
  background-color: #e5cfc3;
  color: #0d4f4f;
}
